@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Ranchers&family=Roboto:wght@100&display=swap');
@import 'weather.css';
@import 'instruction.css';
@import 'list.css';

body {
  background: radial-gradient(
    circle,
    rgb(231, 232, 241) -83%,
    rgb(127, 107, 184) 92%,
    rgb(81, 48, 114) 173%
  );

  color: black;
  font-family: 'Arvo', serif;
  margin: 0px 0px;
}

body::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
  padding: 7px;
  border: none;
  border-radius: 5px;
}

.information {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-container {
  font-size: 34px;
}

.clock-container h1 {
  margin: 0;
}

.name {
  font-size: 30px;
  margin: 20px;
}

.progress {
  text-align: center;
  margin: 15px;
}

.progress_count {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#progress-bar {
  height: 36px;
  width: 15em;
}

.invisible {
  display: none;
}
/* 
#background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-img {
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
} */
