.list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 42px;
}

.list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 5px;
}

.list > div:first-child {
  margin: 0px 11px;
}

.list > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 6fr;
  grid-auto-rows: 1fr;
}

.list ul {
  border-radius: 5px;
  background: rgba(224, 228, 230, 0.6);
  list-style: none;
  padding: 2vmin;
  min-width: 300px;
  overflow-y: scroll;
  height: 260px;
}

.list ul::-webkit-scrollbar-thumb {
  background-color: #eaeaea 

  border-radius: 10px;
}

.list ul {
  /* scrollbar-color:  */
  scrollbar-width: thin;
}
.list ul::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: red;
}
.list ul::-webkit-scrollbar-corner {
  background: rgba(172, 172, 172, 0.6);
}
.list ul::-webkit-scrollbar-thumb {
  background: rgba(172, 172, 172, 0.6);
  border: 1px solid #d4d4d4;
}
.list ul::-webkit-scrollbar-thumb:hover {
  background: #848484;
}
.list ul::-webkit-scrollbar-track {
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
}

.list h3 {
  text-align: center;
  font-size: 5vmin;
  margin: 8px 0px;
}

.list ul span {
  padding-right: 7px;
  font-size: 3vmin;
  font-weight: 200;
}

.list ul button {
  background: transparent;
  border: none;
  font-size: 2.5vmin;
  padding: 0;
}

.list ul i:hover {
  cursor: pointer;
  /* opacity: 0.5; */
}

.fa-edit:hover {
  color: rgb(228, 228, 20);
}
.fa-check-square:hover {
  color: rgb(32, 184, 52);
}
.fa-trash-alt:hover {
  color: red;
}
.fa-backward:hover {
  color: rgb(56, 56, 246);
}

.list > div:nth-of-type(2) {
  margin: 0px 11px;
}

.todo-edit {
  width: 100%;
}

.todo-edit__input {
  width: 93%;
  margin: 0;
}

.pending-span {
  background: darkblue;
  height: 20px;
  width: 20px;
  border-radius: 5px 0 0 5px;
  margin-right: 5px;
}

.finished-span {
  background: rgb(32, 184, 52);
  height: 20px;
  width: 20px;
  border-radius: 5px 0 0 5px;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
